@font-face {
    font-family: 'hue';
    src: url('fonts/hue.eot?khru2');
    src: url('fonts/hue.eot?khru2#iefix') format('embedded-opentype'),
    url('fonts/hue.ttf?khru2') format('truetype'),
    url('fonts/hue.woff?khru2') format('woff'),
    url('fonts/hue.svg?khru2#hue') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hue-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hue' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hue-aura:before {
    content: "\e900";
}

.hue-LLC005:before {
    content: "\e900";
}

.hue-LLC007:before {
    content: "\e900";
}

.hue-LLC014:before {
    content: "\e900";
}

.hue-bathroom:before {
    content: "\e901";
}

.hue-bedroom:before {
    content: "\e902";
}

.hue-beyond_ceiling_pendant_table:before {
    content: "\e903";
}

.hue-bloom:before {
    content: "\e904";
}

.hue-LLC011:before {
    content: "\e904";
}

.hue-LLC012:before {
    content: "\e904";
}

.hue-br30_slim:before {
    content: "\e905";
}

.hue-LCT002:before {
    content: "\e905";
}

.hue-br30:before {
    content: "\e906";
}

.hue-LCT011:before {
    content: "\e906";
}

.hue-LTW011:before {
    content: "\e906";
}

.hue-bridge_v1:before {
    content: "\e907";
}

.hue-bridge_v2:before {
    content: "\e908";
}

.hue-carport:before {
    content: "\e909";
}

.hue-ceiling:before {
    content: "\e90a";
}

.hue-dining:before {
    content: "\e90b";
}

.hue-driveway:before {
    content: "\e90c";
}

.hue-e14:before {
    content: "\e90d";
}

.hue-LCT012:before {
    content: "\e90d";
}

.hue-LTW012:before {
    content: "\e90d";
}

.hue-LLM001:before {
    content: "\e90d";
}

.hue-LLM010:before {
    content: "\e90d";
}

.hue-LLM011:before {
    content: "\e90d";
}

.hue-LLM012:before {
    content: "\e90d";
}

.hue-e27_waca:before {
    content: "\e90e";
}

.hue-LTW001:before {
    content: "\e90e";
}

.hue-LTW004:before {
    content: "\e90e";
}

.hue-LTW010:before {
    content: "\e90e";
}

.hue-LTW015:before {
    content: "\e90e";
}

.hue-LWB010:before {
    content: "\e90e";
}

.hue-LWB014:before {
    content: "\e90e";
}

.hue-LCT001:before {
    content: "\e90e";
}

.hue-LCT007:before {
    content: "\e90e";
}

.hue-LCT010:before {
    content: "\e90e";
}

.hue-LCT014:before {
    content: "\e90e";
}

.hue-LCT015:before {
    content: "\e90e";
}

.hue-LCT016:before {
    content: "\e90e";
}

.hue-e27_white:before {
    content: "\e90f";
}

.hue-LWB004:before {
    content: "\e90f";
}

.hue-LWB006:before {
    content: "\e90f";
}

.hue-LWB007:before {
    content: "\e90f";
}

.hue-entity:before {
    content: "\e910";
}

.hue-floor:before {
    content: "\e911";
}

.hue-frontdoor:before {
    content: "\e912";
}

.hue-garage:before {
    content: "\e913";
}

.hue-garden:before {
    content: "\e914";
}

.hue-go:before {
    content: "\e915";
}

.hue-LLC020:before {
    content: "\e915";
}

.hue-gu10_perfectfit:before {
    content: "\e916";
}

.hue-LTW013:before {
    content: "\e916";
}

.hue-LTW014:before {
    content: "\e916";
}

.hue-gu10:before {
    content: "\e917";
}

.hue-LCT003:before {
    content: "\e917";
}

.hue-gym:before {
    content: "\e918";
}

.hue-hallway:before {
    content: "\e919";
}

.hue-hds:before {
    content: "\e91a";
}

.hue-house:before {
    content: "\e91b";
}

.hue-impulse:before {
    content: "\e91c";
}

.hue-iris:before {
    content: "\e91d";
}

.hue-LLC010:before {
    content: "\e91d";
}

.hue-LLC006:before {
    content: "\e91d";
}

.hue-kids_bedroom:before {
    content: "\e91e";
}

.hue-kitchen:before {
    content: "\e91f";
}

.hue-lightstrip:before {
    content: "\e920";
}

.hue-LST001:before {
    content: "\e920";
}

.hue-LST002:before {
    content: "\e920";
}

.hue-living:before {
    content: "\e921";
}

.hue-motion_sensor:before {
    content: "\e922";
}

.hue-nursery:before {
    content: "\e923";
}

.hue-office:before {
    content: "\e924";
}

.hue-other:before {
    content: "\e925";
}

.hue-pendant:before {
    content: "\e926";
}

.hue-phoenix_ceiling_pendant_table_wall:before {
    content: "\e927";
}

.hue-phoenix_down:before {
    content: "\e928";
}

.hue-pushlink_bridgev2:before {
    content: "\e929";
}

.hue-recessed:before {
    content: "\e92a";
}

.hue-recreation:before {
    content: "\e92b";
}

.hue-storylight:before {
    content: "\e92c";
}

.hue-LLC013:before {
    content: "\e92c";
}

.hue-table:before {
    content: "\e92d";
}

.hue-tap:before {
    content: "\e92e";
}

.hue-terrace:before {
    content: "\e92f";
}

.hue-toilet:before {
    content: "\e930";
}
