.header-icon {
    font-size: 200%;
}

.header-title {
    padding-left: 16px;
}

.center-center {
    left: 50%;
    transform: translate(-50%, 50%)
}

.fullwidth {
    width: 100%;
}

.margin-4px {
    margin: 4px;
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}

.fab-bottom-right {
    position: fixed;
    right: 48px;
    bottom: 48px;

}