{% extends 'master.html' %}
{% block title %}
    Configuration - Hue Bridge
{% endblock %}
{% block header_title %}
    Configuration
{% endblock %}
{% block header_icon %}
    hue-bridge_v2
{% endblock %}
{% block content %}
    <script>
        var sidebars = ['application-sidebar', 'name-sidebar', 'model-sidebar', 'timezones-sidebar'];
        function openSidebar(id) {
            document.getElementById("main-col").classList.add("mdl-cell--hide-phone");
            sidebars.forEach(function (entry) {
                var sidebar = document.getElementById(entry);
                if (id === entry) {
                    sidebar.classList.remove("mdl-cell--hide-phone");
                    sidebar.classList.remove("mdl-cell--hide-desktop");
                    sidebar.classList.remove("mdl-cell--hide-tablet");
                } else {
                    sidebar.classList.add("mdl-cell--hide-phone");
                    sidebar.classList.add("mdl-cell--hide-desktop");
                    sidebar.classList.add("mdl-cell--hide-tablet");
                }
            });
        }

        function closeSidebar(id) {
            var sidebar = document.getElementById(id);
            sidebar.classList.add("mdl-cell--hide-phone");
            sidebar.classList.add("mdl-cell--hide-tablet");
            sidebar.classList.add("mdl-cell--hide-desktop");
            document.getElementById("main-col").classList.remove("mdl-cell--hide-phone")
        }

        function pushLink() {
            var data = {
                message: 'Push link button has been pressed. Please proceed in the application to pair.',
                timeout: 10000
            };
            document.getElementById("pushlink-toast").MaterialSnackbar.showSnackbar(data);
        }
    </script>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-offset-desktop mdl-cell--4-col-tablet"
             id="main-col">
            <table class="mdl-data-table mdl-js-data-table fullwidth mdl-shadow--2dp">
                <tbody>
                <tr onclick="openSidebar('name-sidebar')" class="clickable">
                    <td class="mdl-data-table__cell--non-numeric">Name</td>
                    <td>{{ globals.config.name }}</td>
                    <td><i class="mdl-list__item-icon material-icons">chevron_right</i></td>
                </tr>
                <tr onclick="openSidebar('model-sidebar')" class="clickable">
                    <td class="mdl-data-table__cell--non-numeric">Model</td>
                    <td>{{ globals.config.modelid }} ({{ globals.config.model }})</td>
                    <td><i class="mdl-list__item-icon material-icons">chevron_right</i></td>
                </tr>
                <tr onclick="openSidebar('application-sidebar')" class="clickable">
                    <td class="mdl-data-table__cell--non-numeric">Applications</td>
                    <td>{{ globals.applications|length }} applications authorized</td>
                    <td><i class="mdl-list__item-icon material-icons">chevron_right</i></td>
                </tr>
                <tr onclick="openSidebar('timezones-sidebar')" class="clickable">
                    <td class="mdl-data-table__cell--non-numeric">Timezone</td>
                    <td>{{ globals.config.timezone }}</td>
                    <td><i class="mdl-list__item-icon material-icons">chevron_right</i></td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">IP address</td>
                    <td>{{ globals.config.ip }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">MAC address</td>
                    <td>{{ globals.config.mac }}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--hide-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"
             id="application-sidebar">
            <div class="mdl-card  mdl-shadow--2dp fullwidth">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Applications</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                            onclick="closeSidebar('application-sidebar')">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <table class="mdl-data-table fullwidth" style="border: none ">
                    <tbody>
                    {% for k,v in globals.applications.items() %}
                        <tr>
                            <td id="col-{{ k }}" class="mdl-data-table__cell--non-numeric">{{ v.devicetype }}<span
                                    for="col-{{ k }}" class="mdl-tooltip">ID: {{ k }}<br>Created: {{ v.created }}<br>Last used: {{ v.last_use }}</span>
                            </td>
                            <td><i class="material-icons">delete</i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="pushLink()">
                        Add
                    </a>
                </div>
            </div>
            <div id="pushlink-toast" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--hide-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"
             id="name-sidebar">
            <div class="mdl-card  mdl-shadow--2dp fullwidth">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Name</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                            onclick="closeSidebar('name-sidebar')">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text"
                               id="name-input" value="{{ globals.config.name }}">
                        <label class="mdl-textfield__label" for="name-input">Name</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Change
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--hide-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"
             id="model-sidebar">
            <div class="mdl-card mdl-shadow--2dp fullwidth">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Model</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                            onclick="closeSidebar('model-sidebar')">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-color-text--red">This should not normally be changed.</div>
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item  mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bridge-v1">
                                <input type="radio" id="bridge-v1" class="mdl-radio__button" name="bridge-model"
                                       value="1" {% if globals.config.modelid == 'BSB001' %} checked {% endif %}>
                                <span class="mdl-radio__label">BSB001</span>
                                <span class="mdl-list__item-sub-title">1st Gen Bridge</span>
                            </label>

                        </span>
                        </li>
                        <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bridge-v2">
                                <input type="radio" id="bridge-v2" class="mdl-radio__button" name="bridge-model"
                                       value="2" {% if globals.config.modelid == 'BSB002' %} checked {% endif %}>
                                <span class="mdl-radio__label">BSB002</span>
                                <span class="mdl-list__item-sub-title">2nd Gen Bridge</span>
                            </label></span></li>
                    </ul>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Change
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--hide-desktop mdl-cell--hide-phone mdl-cell--hide-tablet"
             id="timezones-sidebar">
            <div class="mdl-card mdl-shadow--2dp fullwidth">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Timezone</h2>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                            onclick="closeSidebar('model-sidebar')">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="mdl-card__supporting-text">
                    <ul class="demo-list-item mdl-list">
                        {% for tz in globals.timezones %}
                            <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tz-{{ loop.index }}">
                                <input type="radio" id="tz-{{ loop.index }}" class="mdl-radio__button" name="timezone-radio"
                                       value="{{ loop.index }}"
                                       {% if tz == globals.config.timezone %}checked{% endif %}>
                                <span class="mdl-radio__label">{{ tz }}</span>
                            </label>

                        </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Change
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}