{% extends 'master.html' %}
{% block title %}
    Dashboard - Hue Bridge
{% endblock %}
{% block header_title %}
    Bridge
{% endblock %}
{% block header_icon %}
    hue-bridge_v2
{% endblock %}
{% block content %}
    <script>
        function switchLight(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.on = document.getElementById("light-toggle-" + id).checked;
            putRequest(url, data, function (response) {
                update()
            });
        }
        function switchGroup(id) {
            var url = "api/{{ key }}/groups/" + id + "/action";
            var data = {};
            data.on = document.getElementById("group-toggle-" + id).checked;
            putRequest(url, data, function (response) {
                update();
            });
        }
        function update() {
            getRequest("api/{{ key }}/lights", function (response) {
                var lights = JSON.parse(response);
                {% for k,v in globals.lights.items() %}
                    var toggle = document.getElementById("light-toggle-{{ k }}");
                    if (lights["{{ k }}"].state.on) {
                        toggle.MaterialCheckbox.enable();
                    } else {
                        toggle.MaterialCheckbox.disable();
                    }
                {% endfor %}
            });
            getRequest("api/{{ key }}/groups", function (response) {
                var groups = JSON.parse(response);
                {% for k,v in globals.groups.items() %}
                    {% if k != "0" %}
                        var toggle = document.getElementById("group-toggle-{{ k }}");
                        if (groups["{{ k }}"].state.any_on) {
                            toggle.MaterialCheckbox.check();
                        } else {
                            toggle.MaterialCheckbox.uncheck();
                        }
                    {% endif %}
                {% endfor %}
            })
        }
    </script>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Bridge</h2></div>
                <div class="mdl-card__supporting-text">
                    <table>
                        <tbody>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>Emulator version</th>
                            <td>{{ globals.config.emulator_version }}</td>
                        </tr>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>Model</th>
                            <td>{{ globals.config.modelid }} ({{ globals.config.model }})</td>
                        </tr>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>API version</th>
                            <td>{{ globals.config.apiversion }}</td>
                        </tr>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>Firmware</th>
                            <td>{{ globals.config.swversion }}</td>
                        </tr>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>IP address</th>
                            <td>{{ globals.config.ip }}</td>
                        </tr>
                        <tr>
                            <th class=mdl-data-table__cell--non-numeric>MAC address</th>
                            <td>{{ globals.config.mac }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                       href="config.html?key={{ key }}">
                        Configure
                    </a>
                </div>
            </div>
        </div>
        <!-- LIGHTS -->
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Lights</h2></div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid">
                        {% for k,v in globals.lights.items() %}
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-phone mdl-typography--text-center">
                                <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect"
                                       for="light-toggle-{{ k }}">
                                    <input type="checkbox" id="light-toggle-{{ k }}"
                                           class="mdl-icon-toggle__input"
                                            {% if v.state %} checked {% endif %} onclick="switchLight({{ k }})">
                                    <span class="mdl-icon-toggle__label hue-icon hue-{{ v.modelid }} material-icons"></span>
                                </label>
                                <div class="mdl-typography--caption mdl-typography--text-center">{{ v.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                       href="lights.html?key={{ key }}">
                        More
                    </a>
                </div>
            </div>
        </div>
        <!-- GROUPS -->
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Groups</h2></div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid">
                        {% for k,v in globals.groups.items() %}
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-phone mdl-typography--text-center">
                                <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect"
                                       for="group-toggle-{{ k }}">
                                    <input type="checkbox" id="group-toggle-{{ k }}"
                                           class="mdl-icon-toggle__input"
                                            {% if v.count_on() > 0 %} checked {% endif %}
                                           onclick="switchGroup({{ k }})">
                                    <span class="mdl-icon-toggle__label hue-icon hue-{{ v.class_.lower().replace(' ', '_') }} material-icons"></span>
                                </label>
                                <div class="mdl-typography--caption mdl-typography--text-center">{{ v.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        More
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}