{% extends 'master.html' %}
{% block title %}
    Lights - Hue Bridge
{% endblock %}
{% block header_title %}
    Lights
{% endblock %}
{% block header_icon %}
    hue-e27_waca
{% endblock %}
{% block content %}
    <script>
        function switchLight(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.on = document.getElementById("state-" + id).checked;
            putRequest(url, data)
        }

        function setBri(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.bri = parseInt(document.getElementById("bri-slider-" + id).value);
            document.getElementById("bri-text-" + id).innerHTML = "Brightness: " + data.bri;
            putRequest(url, data)
        }

        function setHue(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.hue = parseFloat(document.getElementById("hue-slider-" + id).value);
            document.getElementById("hue-text-" + id).innerHTML = "Hue: " + data.hue;
            putRequest(url, data)
        }
        function setSat(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.sat = parseFloat(document.getElementById("sat-slider-" + id).value);
            document.getElementById("sat-text-" + id).innerHTML = "Saturation: " + data.sat;
            putRequest(url, data)
        }
        function setCt(id) {
            var url = "api/{{ key }}/lights/" + id + "/state";
            var data = {};
            data.ct = parseFloat(document.getElementById("ct-slider-" + id).value);
            document.getElementById("ct-text-" + id).innerHTML = "Color temperature: " + data.ct;
            putRequest(url, data)
        }
    </script>
    <div class="mdl-grid">
        {% for k,v in globals.lights.items() %}
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{ v.name }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <label class="mdl-slider" for="bri-slider-{{ k }}">
                            <input class="mdl-slider mdl-js-slider" type="range" id="bri-slider-{{ k }}"
                                   min="1" max="254" value="{{ v.bri }}" tabindex="0" oninput="setBri({{ k }})">
                            <span class="mdl-typography--caption mdl-typography--text-center" id="bri-text-{{ k }}">Brightness: {{ v.bri|int }}</span>
                        </label>
                        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                            <div class="mdl-tabs__tab-bar">
                                <a href="#hs-panel-{{ k }}"
                                   class="mdl-tabs__tab {% if v.mode == 'xy' or v.mode == 'hs' %}is-active {% endif %}">Hue/Sat</a>
                                <a href="#ct-panel-{{ k }}"
                                   class="mdl-tabs__tab {% if v.mode == 'ct' %}is-active{% endif %}">Temperature</a>
                                <a href="#config-panel-{{ k }}" class="mdl-tabs__tab">Settings</a>
                            </div>
                            <div class="mdl-tabs__panel {% if v.mode == 'xy' or v.mode == 'hs' %}is-active{% endif %}"
                                 id="hs-panel-{{ k }}">
                                <label class="mdl-slider" for="hue-slider-{{ k }}">
                                    <input class="mdl-slider mdl-js-slider" type="range" id="hue-slider-{{ k }}"
                                           min="0" max="65535" value="{{ v.hue }}" tabindex="0"
                                           oninput="setHue({{ k }})">
                                    <span class="mdl-typography--caption mdl-typography--text-center"
                                          id="hue-text-{{ k }}">Hue: {{ v.hue }}</span>
                                </label>
                                <label class="mdl-slider" for="sat-slider-{{ k }}">
                                    <input class="mdl-slider mdl-js-slider" type="range" id="sat-slider-{{ k }}"
                                           min="0" max="254" value="{{ v.sat }}" tabindex="0"
                                           oninput="setSat({{ k }})">
                                    <span class="mdl-typography--caption mdl-typography--text-center"
                                          id="sat-text-{{ k }}">Saturation: {{ v.sat }}</span>
                                </label>
                            </div>
                            <div class="mdl-tabs__panel {% if v.mode == 'ct' %}is-active{% endif %}"
                                 id="ct-panel-{{ k }}">
                                <label class="mdl-slider" for="ct-slider-{{ k }}">
                                    <input class="mdl-slider mdl-js-slider" type="range" id="ct-slider-{{ k }}"
                                           min="153" max="500" value="{{ v.ct }}" tabindex="0"
                                           oninput="setCt({{ k }})">
                                    <span class="mdl-typography--caption mdl-typography--text-center"
                                          id="ct-text-{{ k }}">Color temperature: {{ v.ct }}</span>
                                </label>
                            </div>
                            <div class="mdl-tabs__panel" id="config-panel-{{ k }}">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th class=mdl-data-table__cell--non-numeric>Type</th>
                                        <td>{{ v.model }}</td>
                                    </tr>
                                    <tr>
                                        <th class=mdl-data-table__cell--non-numeric>Model</th>
                                        <td>{{ v.modelid }}</td>
                                    </tr>
                                    <tr>
                                        <th class=mdl-data-table__cell--non-numeric>GPIO</th>
                                        <td>{{ '(' + v.rgpio|string + ', '  + v.ggpio|string + ', ' + v.bgpio|string + ')' }}</td>
                                    </tr>
                                    <tr>
                                        <th class=mdl-data-table__cell--non-numeric>Gamma correction</th>
                                        <td>{{ v.gamma|string }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mdl-card__menu">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="state-{{ k }}">
                                <input type="checkbox" id="state-{{ k }}" class="mdl-switch__input"
                                       {% if v.state %}checked{% endif %} onclick="switchLight({{ k }})">
                                <span class="mdl-switch__label"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}