<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="../static/hue-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/material.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Log in - Hue Bridge</title>
    <link rel="shortcut icon" href="../static/hue_logo_3.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-cell--4-offset-desktop mdl-cell--4-col-tablet mdl-cell--2-offset-tablet">
                    <div class="mdl-card mdl-shadow--2dp" style="width: 100%; margin-top: 50%">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Log in</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-typography--caption mdl-color-text--red">{{ error }}</div>
                            <form action="index.html" method="get" id="loginform">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
                                    <input class="mdl-textfield__input" type="text" id="loginkey" name="key"
                                           value="{{ key }}">
                                    <label class="mdl-textfield__label" for="loginkey">Key</label>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               onclick="document.getElementById('loginform').submit()">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
