<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="../static/hue-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/material.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="../static/scripts.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/hue_logo_3.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="hue-icon {% block header_icon %}hue-bridge_v2{% endblock %} header-icon"></span>
            <div class="mdl-layout-title header-title">{% block header_title %}Bridge {% endblock %}</div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><span class="bridge-icon"></span>Hue Configuration</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="index.html?key={{ key }}">Dashboard</a>
            <a class="mdl-navigation__link" href="lights.html?key={{ key }}">Lights</a>
            <a class="mdl-navigation__link" href="">Groups</a>
            <a class="mdl-navigation__link" href="">Schedules</a>
            <a class="mdl-navigation__link" href="">Scenes</a>
            <a class="mdl-navigation__link" href="">Rules</a>
            <a class="mdl-navigation__link" href="config.html?key={{ key }}">Configuration</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </main>
</div>
</body>
</html>
